# ENV (ẩn tất cả file env)
.env
.env.*
**/.env
**/.env.*

# Node modules
node_modules/
**/node_modules/

# Data / backup
backend/config.json

# Log
logs
*.log

# OS
.DS_Store
Thumbs.db

# Docker
Dockerfile
docker-compose.yml
docker-compose.*.yml
.dockerignore

# Nginx
nginx.conf
nginx/

# YAML files
*.yml
*.yaml